{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 ftco-animate">
          	<p>
              <img src="{{ post.image.url }}" alt="" class="img-fluid">
            </p>
            <h2 class="mb-3">{{ post.title }}</h2>
            <p style="white-space: pre-wrap;">{{ post.description }}</p>

            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">

                {% for tag in post.tags.all %}
                <a href="#" class="tag-cloud-link">{{ tag }}</a>
                {% endfor %}

              </div>
            </div>
            
            <h3>Автор статьи</h3>
            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="{{ post.author.image.url }}" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc">
                <h3>{{ post.author.full_name }}</h3>
                <p>{{ post.author.description }}</p>
              </div>
            </div>


            <div class="pt-5 mt-5">
              <h3 class="mb-5">Комментарии <sub>{{ post.comment_set.count }}</sub></h3>
              <ul class="comment-list">

                {% for comment in post.comment_set.all %}
                <li class="comment">
                  <div class="vcard bio">
                    {% if comment.iamge %}
                      <img src="{{ comment.iamge.url }}" alt="Image placeholder">
                    {% else %}
                      <img src="{% static '/images/undefined_user.jpg' %}" alt="Image placeholder">
                    {% endif %}
                  </div>
                  <div class="comment-body">
                    <h3>{{ comment.name }}</h3>
                    <div class="meta">{{ comment.created_at }}</div>
                    <p>{{ comment.message }}</p>
                    <!-- <p><a href="#" class="reply">Reply</a></p> -->
                  </div>
                </li>
                {% endfor %}

              </ul>
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Оставить комментарий</h3>

                <form action="{% url 'send_comment' post.id %}" method="POST" class="p-5 bg-light">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="name">Имя *</label>
                    <input name="name" type="text" class="form-control" id="name" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input name="email" type="email" class="form-control" id="email" required>
                  </div>
                  <div class="form-group">
                    <label for="website">Сайт</label>
                    <input name="website" type="url" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Комментарий</label>
                    <textarea name="message" id="message" cols="30" rows="10" class="form-control" required></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Оставить комментарий" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>

              </div>
            </div>

          </div> <!-- .col-md-8 -->

        </div>
      </div>
    </section>
{% endblock content %}
