{% extends "base.html" %}

{% block content %}

{% include 'components/base_block.html' %}

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="wrapper">
					<div class="row mb-5">
						<div class="col-md-3">
							<div class="dbox w-100 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-map-marker"></span>
						</div>
						<div class="text">
						<p><span>Адрес:</span> {{ base_info.contacts.address }}</p>
						</div>
					</div>
						</div>
						<div class="col-md-3">
							<div class="dbox w-100 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-phone"></span>
						</div>
						<div class="text">
						<p><span>Телефон:</span> <a href="tel:{{ base_info.contacts.phone }}">{{ base_info.contacts.phone }}</a></p>
						</div>
					</div>
						</div>
						<div class="col-md-3">
							<div class="dbox w-100 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-paper-plane"></span>
						</div>
						<div class="text">
						<p><span>Email:</span> <a href="mailto:{{ base_info.contacts.email }}">{{ base_info.contacts.email }}</a></p>
						</div>
					</div>
						</div>
						<div class="col-md-3">
							<div class="dbox w-100 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-whatsapp"></span>
						</div>
						<div class="text">
						<p><span>Сайт</span> <a href="#">yoursite.com</a></p>
						</div>
					</div>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-md-7">
							<div class="contact-wrap w-100 p-md-5 p-4">
								<h3 class="mb-4">Напишите Нам</h3>
								<div id="form-message-warning" class="mb-4"></div> 
						<div id="form-message-success" class="mb-4">
						Ваше сообщение было отправлено! Мы свяжемся с вами в ближайшее время.
						</div>
								<form method="POST" id="contactForm" name="contactForm" class="contactForm">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="label" for="name">Полное Имя</label>
												<input type="text" class="form-control" name="name" id="name" placeholder="ФИО">
											</div>
										</div>
										<div class="col-md-6"> 
											<div class="form-group">
												<label class="label" for="email">Електронная почта</label>
												<input type="email" class="form-control" name="email" id="email" placeholder="Email">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="label" for="subject">Заголовок</label>
												<input type="text" class="form-control" name="subject" id="subject" placeholder="Заголовок">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="label" for="#">Сообщение</label>
												<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Сообщение"></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="submit" value="Отправить Сообщение" class="btn btn-primary">
												<div class="submitting"></div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-5 d-flex align-items-stretch">
							<div class="info-wrap w-100 p-5 img" style="background-image: url(images/about.jpg);">
					</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}
