{% extends "base.html" %}

{% block content %}

{% include 'components/base_block.html' %}

		<section class="ftco-section ftco-no-pt ftco-no-pb">
		  <div class="container-fluid px-md-0">
        <div class="row no-gutters">
          
          {% for image in images %}
          <div class="col-md-4 ftco-animate">
            <div class="gallery img d-flex align-items-end" style="background-image: url('{{ image.image.url }}');">
            	<a href="{{ image.image.url }}" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3">
	              	<span>{{ image.subtitle }}</span>
	              	<h2><a href="work-single.html">{{ image.title }}</a></h2>
	              </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div> 
		</section>
    
{% endblock content %}
