{% extends "base.html" %}

{% block content %}
    
<div class="hero-wrap js-fullheight" style="background-image: url('{{ home_page.image.url }}');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
	<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
		<div class="col-md-6 ftco-animate">
		<h2 class="subheading">{{ home_page.slogan }}</h2>
		<h1>{{ home_page.title }}</h1>
		<p class="mb-4">{{ home_page.subtitle }}</p>
		<p><a href="#" class="btn btn-primary mr-md-4 py-2 px-4">Узнать больше <span class="ion-ios-arrow-forward"></span></a></p>
		</div>
	</div>
	</div>
</div>

{% include 'components/services.html' %}

{% include 'components/video_block.html' %}

{% include 'components/seasons.html' %}

{% include 'components/phone_line.html' %}

{% include 'components/reviews.html' %}

{% include 'components/blog_block.html' %}

{% endblock content %}
