<section class="hero-wrap hero-wrap-2" style="background-image: url('{{ base_block.image.url }}');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">{{ page_name }}</h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="{% url 'home_page' %}">Главная <i class="ion-ios-arrow-forward"></i></a>
                    </span>
                    <span>
                        {{ page_name }}
                        <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
            </div>
        </div>
	</div>
</section>
