<section class="ftco-section bg-light">
	<div class="container">
	<div class="row justify-content-center mb-5 pb-3">
		<div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Наш Блог</span>
            <h2>Последние публикации</h2>
		</div>
	</div>
	<div class="row d-flex">

        {% for post in posts %}
		<div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
                <a href="{% url 'post_view' post.id %}" class="block-20" style="background-image: url('{{ post.image.url }}');">
                </a>
                <div class="text p-4 float-right d-block">
                <div class="topper d-flex align-items-center">
                    <div class="one py-2 pl-3 pr-1 align-self-stretch">
                        <span class="day">{{ post.date.day }}</span>
                    </div>
                    <div class="two pl-0 pr-3 py-2 align-self-stretch">
                        <span class="yr">{{ post.date.year }}</span>
                        <span class="mos">{{ post.date | date:"F" }}</span>
                    </div>
                </div>
                <h3 class="heading mb-0"><a href="#">{{ post.title }}</a></h3>
                <p>{{ post.description | truncatechars:150 }}</p>
                <p><a href="{% url 'post_view' post.id %}" class="btn btn-primary">Читать</a></p>
                </div>
            </div>
		</div>
        {% endfor %}

	</div>
	</div>
</section>