<footer class="ftco-footer ftco-bg-dark ftco-section">
	<div class="container">
	<div class="row mb-5">
		<div class="col-md-6 col-lg">
		<div class="ftco-footer-widget mb-4">
			<h2 class="logo"><a href="#">Южный <span>Парк</span></a></h2>
			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
			<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
			<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
			<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
			</ul>
		</div>
		</div>
		<div class="col-md-6 col-lg">
		<div class="ftco-footer-widget mb-4 ml-md-5">
			<h2 class="ftco-heading-2">Services</h2>
			<ul class="list-unstyled">
			<li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Garden Care</a></li>
			<li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Lawn mowing</a></li>
			<li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Lawn Care</a></li>
			<li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Gutter Cleaning</a></li>
			<li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>New Lawn Installation</a></li>
			</ul>
		</div>
		</div>
		<div class="col-md-6 col-lg">
		<div class="ftco-footer-widget mb-4">
			<h2 class="ftco-heading-2">Contact information</h2>
			<div class="block-23 mb-3">
				<ul>
				<li><span class="icon icon-map-marker"></span><span class="text">{{ base_info.contacts.address }}</span></li>
				<li><a href="tel:{{ base_info.contacts.phone }}"><span class="icon icon-phone"></span><span class="text">{{ base_info.contacts.phone }}</span></a></li>
				<li><a href="mailto:{{ base_info.contacts.email }}"><span class="icon icon-envelope"></span><span class="text">{{ base_info.contacts.email }}</span></a></li>
				</ul>
			</div>
		</div>
		</div>
		<div class="col-md-6 col-lg">
			<div class="ftco-footer-widget mb-4">
			<h2 class="ftco-heading-2">Business Hours</h2>
			<div class="opening-hours">
			<h4>Рабочие дни:</h4>
			<p class="pl-3">
				<span>Понедельник – Пятница : 9:00 - 18:00</span>
				<span>Суббота : 9:00 - 16:00</span>
			</p>
			<h4>Выходные:</h4>
			<p class="pl-3">
				<span>Все Воскресные дни</span>
				<span>Все официальные праздники</span>
			</p>
			</div>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">

		<p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены | Сайт сделан by <a href="https://miktadov.com" target="_blank">miktadov.com</a>
        </p>
		</div>
	</div>
	</div>
</footer>
