
<div class="container pt-5 pb-4">
    <div class="row justify-content-between">
        <div class="col-md-8 order-md-last">
            <div class="row">
                <div class="col-md-6 text-center">
                    <a class="navbar-brand" href="index.html">Южный<span>Парк</span></a>
                </div>
                <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
                    <form action="#" class="searchform order-lg-last">
              <div class="form-group d-flex">
                <input type="text" class="form-control pl-3" placeholder="Поиск">
                <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
              </div>
            </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="social-media">
            <p class="mb-0 d-flex">
                <a href="{{ base_info.contacts.tg }}" class="d-flex align-items-center justify-content-center"><span class="fa fa-telegram"><i class="sr-only">Telegram</i></span></a>
                <a href="{{ base_info.contacts.wa }}" class="d-flex align-items-center justify-content-center"><span class="fa fa-whatsapp"><i class="sr-only">WhatsApp</i></span></a>
                <a href="tel:{{ base_info.contacts.phone }}" class="d-flex align-items-center justify-content-center"><span class="fa fa-phone"><i class="sr-only">Phone</i></span></a>
            </p>
    </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Меню
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item {% if page_name == 'Главная' %}active{% endif %}"><a href="{% url 'home_page' %}" class="nav-link">Главная</a></li>
            <li class="nav-item {% if page_name == 'О Нас' %}active{% endif %}"><a href="{% url 'about_page' %}" class="nav-link">О Нас</a></li>
            <li class="nav-item {% if page_name == 'Услуги' %}active{% endif %}"><a href="{% url 'services_page' %}" class="nav-link">Услуги</a></li>
            <li class="nav-item {% if page_name == 'Галлерея' %}active{% endif %}"><a href="{% url 'gallery_page' %}" class="nav-link">Галлерея</a></li>
            <li class="nav-item {% if page_name == 'Блог' %}active{% endif %}"><a href="{% url 'blog_page' %}" class="nav-link">Блог</a></li>
            <li class="nav-item {% if page_name == 'Контакты' %}active{% endif %}"><a href="{% url 'contact_page' %}" class="nav-link">Контакты</a></li>
        </ul>
    </div>
    </div>
</nav>
