<section class="ftco-intro bg-primary py-5">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-md-6">
				<h2>Свяжитесь с нами</h2>
				<p>Если у вас есть какие-либо вопросы о продуктах, свяжитесь с нами.</p>
			</div>
			<div class="col-md-5 text-md-right">
				<span class="contact-number">{{ base_info.contacts.phone }}</span>
			</div>
		</div>
	</div>
</section>