<section class="ftco-section testimony-section">
	<div class="container">
	<div class="row justify-content-center mb-5">
		<div class="col-md-7 text-center heading-section ftco-animate">
		<span class="subheading">Отзывы</span>
		<h2 class="mb-4">Наши счастливые Клиенты</h2>
		</div>
	</div>
	<div class="row ftco-animate">
		<div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">

                {% for review in reviews %}

                <div class="item">
                    <div class="testimony-wrap py-4">
                        <div class="text">
                            <p class="mb-4">{{ review.review }}</p>
                            <div class="d-flex align-items-center">
                                <div class="user-img" style="background-image: url('{{ review.image.url }}')"></div>
                                <div class="pl-3">
                                    <p class="name">{{ review.name }}</p>
                                    <span class="position">{{ review.position }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
			
            </div>
		</div>
	</div>
	</div>
</section>