{% load static %}
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5">
            <div class="col-md-10 text-center heading-section ftco-animate">
                <span class="subheading">Всему свое время</span>
                <h2 class="mb-4">Сезоны и наша активность</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-seasonal owl-carousel ftco-owl">
                    <div class="item">
                        <div class="wrap">
                            <div class="seasonal img d-flex align-items-center justify-content-center" style="background-image: url({% static 'images/seasonal-2.jpg' %});"></div>
                            <div class="text text-center px-4">
                                <h3><a href="#">Лето</a></h3>
                                <p>Уход за растениями, поддержанию системы полива и борьба с вредителями. Это время для реализации и доработки проектов, а также для поддержания эстетической привлекательности.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="wrap">
                            <div class="seasonal img d-flex align-items-center justify-content-center" style="background-image: url({% static 'images/seasonal-4.jpg' %});"></div>
                            <div class="text text-center px-4">
                                <h3><a href="#">Осень</a></h3>
                                <p>Подготовка растений к зиме, посадка многолетников и луковичных, планирование изменений и улучшений для следующего года, включая выбор растений, которые будут высажены весной.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="wrap">
                            <div class="seasonal img d-flex align-items-center justify-content-center" style="background-image: url({% static 'images/seasonal-3.jpg' %});"></div>
                            <div class="text text-center px-4">
                                <h3><a href="#">Зима</a></h3>
                                <p>Проектирование новых ландшафтов и модификация существующих, подготовка предложений и дизайн-проектов для клиентов. Это время для обучения и профессионального развития.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="wrap">
                            <div class="seasonal img d-flex align-items-center justify-content-center" style="background-image: url({% static 'images/seasonal-1.jpg' %});"></div>
                            <div class="text text-center px-4">
                                <h3><a href="#">Весна</a></h3>
                                <p>Подготовка почвы и посадка растений, а также планирование новых проектов. В это время года происходит активное озеленение территорий и обновление ландшафтных композиций.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>