<section class="ftco-section ftco-no-pt">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 py-5 order-md-last">
			<div class="heading-section ftco-animate">
			<span class="subheading">Наши услуги</span>
			<h2 class="mb-4">И многое другое</h2>
			<p>Помимо наиболее востребованных услуг мы предоставляем еще широкий спектр услуг по озеленению и ландшафтному дизайну как от самых маленьких объектов до больших государственных заказов.</p>
			<p><a href="#" class="btn btn-primary py-3 px-4">Узнать больше</a></p>
			</div>
			</div>
			<div class="col-lg-9 services-wrap px-4 pt-5">
				<div class="row pt-md-3">
					{% for service in services %}
					<div class="col-md-4 d-flex align-items-stretch">
						<div class="services text-center">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="{{ service.icon }}"></span>
							</div>
							<div class="text">
								<h3>{{ service.title }}</h3>
								<p>{{ service.description }}</p>
							</div>
							<a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-arrow-round-forward"></span></a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
