<section class="ftco-section ftco-no-pt ftco-no-pb bg-primary">
	<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-lg-8 py-4">
			<div class="row">
				<div class="col-md-6 ftco-animate d-flex align-items-center">
				<h2 class="mb-0" style="color:white; font-size: 24px;">Подписаться на нашу расылку</h2>
				</div>
				<div class="col-md-6 d-flex align-items-center">
				<form action="#" class="subscribe-form">
					<div class="form-group d-flex">
					<input type="text" class="form-control" placeholder="Введите Ваш Email">
					<input type="submit" value="Subscribe" class="submit px-3">
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
