{% load static %}
<section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 d-flex">
				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end" style="background-image:url({% static 'images/about.jpg' %});">
					<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
						<span class="icon-play"></span>
					</a>
				</div>
			</div>
			<div class="col-md-6 pl-md-5">
				<div class="row justify-content-start py-5">
					<div class="col-md-12 heading-section ftco-animate">
						<span class="subheading">Озеленяйся вместе с Южным Парком</span>
						<h2 class="mb-4">Каждая деталь имеет значение</h2>
						<p>Мы уделяем внимание даже самым маленьким и казалось бы незначительным деталям</p>
					<div class="services-wrap">
						<a href="#" class="services-list">Очистка желобов
							<div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-arrow-round-forward"></span></div>
						</a>
						<a href="#" class="services-list">Органические удобрения и борьба с сорняками
							<div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-arrow-round-forward"></span></div>
						</a>
						<a href="#" class="services-list">Компостная подкормка
							<div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-arrow-round-forward"></span></div>
						</a>
						<a href="#" class="services-list">Устройство нового газона
							<div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-arrow-round-forward"></span></div>
						</a>
						<a href="#" class="services-list">Доступны мульча и другие услуги
							<div class="btn-custom d-flex align-items-center justify-content-center"><span class="ion-ios-arrow-round-forward"></span></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
